body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, yellow, black)
}

.calculadora-grilla {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    padding-top: 100px;
}
.calculadora-grilla > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(42, 11, 11);
    outline: none; 
    background-color: white;
}
.output {
    grid-column: 1 / -1;
    background-color: rgb(71, 65, 65);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .display {
    color: black;
    font-size: 1.85rem;
    text-align: right;
}

.calculadora-grilla > button:hover {
    background-color: rgba(109, 129, 147, 0.301);

}